td {font-family: arial, sans-serif; font-size: 12px; color: 000000;}

.question {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight : bold;
}

.answer {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight : bold;
}
#gnav {width:100%; height:26px; background-color:#9167E1; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:normal; text-align:left;}
			#gnav #colorSplit {margin-left:385px; height:100%; background-color:#8C8C8C;}
			#gnav #contentArea {margin-left:-385px; width:770px; height:100%; position:relative;}
			#gnav #linkBlock {float:left; position:relative; height:100%; width:610px; font-size:12px; font-weight:bold; color:#999;  background-image:url(/web/20061021213617im_/http://www.hasbro.com/common/globalnav/gnavBg.gif); background-repeat:no-repeat; background-color:#9167E1;}
				#gnav #linkBlock #hasbrocomLink {position:absolute;}
					#gnav #linkBlock #hasbrocomLink a {display:block; height:26px; width:140px;}
				#gnav #linkBlock a {color:#fff; text-decoration:none; padding:0; margin:0; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif;}
				#gnav #linkBlock a:hover {color:#cf0;}
				#gnav #linkBlock #lead {position:absolute; left:152px; top:3px; font-size:9px; line-height:9px; color:#ccc;}
				#gnav #linkBlock #lead {_top:4px;} /* ie hack */
				#gnav #linkBlock #links {position:absolute; left:195px; top:5px; width:400px; text-align:center;}
			#gnav #searchBlock {position:relative; margin-left:610px; background-color:#8C8C8C; height:100%;}
				#gnav #searchBlock form {margin:0;}
				#gnav #searchBlock input#search {position:absolute; left:5px; top:5px; border:0; height:14px; width:100px; font-size:11px; padding:1px 2px;}
				#gnav #searchBlock input#submitBtn {margin:2px 0 0 120px; padding-bottom:5px; border:0; background-image:url(/web/20061021213617im_/http://www.hasbro.com/common/globalnav/gnavSubmitBtn.gif); width:25px; height:20px; color:#fff;}
				#gnav #searchBlock input#submitBtn:hover {background-image:url(/web/20061021213617im_/http://www.hasbro.com/common/globalnav/gnavSubmitBtnOn.gif);}
}
